.formulario{
    font-family: sans-serif;
    font-size: medium;
    text-align: justify;
}
fieldset{
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
legend{
    font-weight: bold;
}
.botao_enviar{
    display: flex;
    justify-content: center;
    align-items: center;
}
